<div class="central">
  <cds-header name="[Platform]">
      <cds-hamburger (selected)="active = !active"></cds-hamburger>
      <cds-header-navigation>
          <cds-header-item>Catalog</cds-header-item>
          <cds-header-item >Docs</cds-header-item>
          <cds-header-item>Support</cds-header-item>
          <cds-header-menu title="Manage">
              <cds-header-item>Link 1</cds-header-item>
              <cds-header-item>Link 2</cds-header-item>
              <cds-header-item>Link 3</cds-header-item>
          </cds-header-menu>
      </cds-header-navigation>
      <cds-header-global>
          <cds-header-action description="action">
              <svg cdsIcon="fade" size="20"></svg>
          </cds-header-action>
          <cds-header-action description="action">
              <svg cdsIcon="fade" size="20"></svg>
          </cds-header-action>
      </cds-header-global>
  </cds-header>
  <cds-sidenav [expanded]="active" style="margin-top: 3rem">
    <cds-sidenav-item>
        <svg cdsIcon="fade" size="16"></svg>
        Link
    </cds-sidenav-item>
    <cds-sidenav-item>
        <svg cdsIcon="fade" size="16"></svg>
        Link
    </cds-sidenav-item>
    <cds-sidenav-menu title="Category title">
        <svg cdsIcon="fade" size="16"></svg>
        <cds-sidenav-item>Link</cds-sidenav-item>
        <cds-sidenav-item>Link</cds-sidenav-item>
        <cds-sidenav-item>Link</cds-sidenav-item>
    </cds-sidenav-menu>
</cds-sidenav>

<cds-contained-list label="List title">
  <cds-contained-list-item>List item</cds-contained-list-item>
  <cds-contained-list-item>List item</cds-contained-list-item>
  <cds-contained-list-item>List item</cds-contained-list-item>
  <cds-contained-list-item>List item</cds-contained-list-item>
</cds-contained-list>
</div>
